<html>
  <head>
    <title>Welcome to MEtrics AI</title>
  </head>
  <body>
    <table style='width: 100%; border: none;'>
      <tr>
        <td
          style='background-color: #f2f2f2; padding: 20px; text-align: center;'
        >
          <h1 style='margin: 0; font-size: 36px;'>Welcome {{name}}</h1>
        </td>
      </tr>
      <tr>
        <td style='padding: 20px;'>
          <p style='margin: 0;'>Thanks for signing up for our website. We're
            excited to have you on board.</p>
        </td>
      </tr>
      <tr>
        <td
          style='background-color: #f2f2f2; padding: 20px; text-align: center;'
        >
          <p style='margin: 0;'>Your email address is {{email}}</p>
        </td>
      </tr>
    </table>
  </body>
</html>